body {
    overflow: hidden; /* This will disable both horizontal and vertical scrolling */
    background-color: #0d1b2a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 3vh;
    margin: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 400%; /* Default font size */
    margin: 0;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    h1 {
        font-size: 300%; /* Increase font size for smaller screens */
    }
}

p {
    font-size: 200%;
    text-align: center;
    color: #7b8a97;
    max-width: 90%;
    margin: 0 auto;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #1b263b;
    border-radius: 2vh;
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.3);
    padding: 3vh;
    max-width: 25vh; /* Adjusted width */
    border: 0.3vh solid #33415c;
    gap: 2vh;
    margin: 3vh auto; /* Centered the panel horizontally */
}

input[type="image"],
input[type="count"] {
    width: 100%; /* Match the width of the panel */
    max-width: 20vh; /* Consistent max-width */
    height: auto;
    background-color: #415a77;
    border: none;
    border-radius: 2vh;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
    align-self: center;
}

input[type="count"] {
    border: 0.4vh solid #1c3d5a;
    font-size: 4vw; /* Adjusted font size */
    outline: none;
    background-color: #1b263b;
    color: #ffffff;
    padding: 1vh;
    align-self: center;
}

input[type="button"] {
    font-size: 3vw;
    background-color: #415a77;
    border: 0.4vh solid #1c3d5a;
    border-radius: 2vh;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.3);
    padding: 1.5vh 3vh;
    margin: 3vh auto;
    display: block;
    align-self: center;
}

/* Additional media query for very small screens */
@media (max-width: 400px) {
    h1 {
        font-size: 8vw; /* Further increase font size for very small screens */
    }

    p {
        font-size: 2vw; /* Adjust paragraph font size if needed */
    }
}
