body {
    background-color: #0d1b2a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #1b263b;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #33415c;
    position: relative;
    gap: 10px;
}

input[id="up"],
input[id="down"] {
    background-color: #415a77;
    border: 2px solid #1c3d5a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 128px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


input[id="up"]:hover,
input[id="down"]:hover {
    background-color: #527ba0;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
}

input[id="submit"] {
    background-color: #415a77;
    border: 2px solid #1c3d5a;
    border-radius: 10px;
    color: #ffffff;
    font-size: 32;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    border: 2px solid #1c3d5a;
    border-radius: 10px;
    font-size: 128px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease;
    background-color: #1b263b;
    color: #ffffff;
}

input[type="text"]:focus {
    border-color: #527ba0;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}
